html{
    height: 100%
}

body{
    min-height: 100%;
}

.app {
    height: 100vh;
}

body {
    background-color:#6290E7;
    overflow: hidden;
}

.miner-config {
    margin: 5px 0px 5px 0px;
}

.miner-address {
    width: 500px;
}

.pool-selector {
    margin: 5px 0px 5px 0px;
}

.buttons button{
    margin: 0px 10px 0px 0px;
}

.minerOutputList {
    list-style: none;
}

.minerOutputList li {
    
}

.outputDiv {
    width: 600px;
    height: 300px;
    background-color:white;
    overflow:auto;
}

.console {
    margin: 10px 0px 10px 0px;
}