html{
    height: 100%
}

body{
    min-height: 100%;
}

.app {
    height: 100vh;
}

body {
    background-color:#6290E7;
}

.miner-address {
    width: 500px;
}

.minerOutputList {
    list-style: none;
}

.minerOutputList li {
    
}

.outputDiv {
    width: 600px;
    height: 300px;
    background-color:white;
    overflow:auto;
}